@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    ::selection {
        @apply bg-primary text-black;

    }
}
a:not(.logo){
    transform: translateY(-3px);
}
li{
    width: auto!important;
}